$primary_color: #AE1205;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
    color: #AE1205;
  }
}

a {
  color: #AE1205;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px #AE1205;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
